<div class="hn-head">
    <div class="left">
      <a href="/" class='logo'>千锋后台管理系统</a>
    </div>
    <div class="right">
      <p>欢迎您 - XXX管理员</p>
      <button class='btn btn-info'>退出</button>
    </div>
</div>
